@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: #1F2544;
    color: black;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 40;
    transition: 0.3s;
    transform: perspective(500px);
    transform-style: preserve-3d;
    margin: 0 20px;
    ;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 1;
    transform: translateZ(50px);
}

.imgbox .img {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(0.9);
    transition: 0.3s ease-in;
    object-fit: cover;
}

.container:hover .imgbox .img {
    transform: scale(1);
}

.container:hover .object {
    width: 290px;
    height: 290px;
}

.container:hover .bgtext {
    opacity: 0;
}

.container:hover .title {
    transform: translateY(-80px);
    font-size: 2em;
}

.container:hover .icon {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}

.icon {
    transform: translateY(100px);
    transition: transform 0.3s ease-in-out;
}

.object {
    position: absolute;
    width: 220px;
    height: 220px;
    /* background: radial-gradient(#00e0ff, #00e0ff); */
    border-radius: 50%;
    top: 5%;
    left: 15%;
    transition: 0.3s ease-in;
}

.bgtext {
    position: absolute;
    font-size: 6em;
    font-weight: 800;
    top: 40%;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.4;
    color: transparent;
    z-index: -1;
    transition: 0.6ss ease-in;
}

.title {
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    word-spacing: 2px;
    transition: 0.3s ease;
}